#thirdPage{
    padding: 20px;
    background-color: black;
    height: 635px;
}

@media screen and (max-width: 2000px) {
    #thirdPageTop{
        font-size: 100px;
    }
    .shuzhi{
        margin-top: 40px;
        width: 20px;
        height: 300px;
        text-align: center;
        font-size: 25px;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
    .xian{
        border-left: 2px solid white;
        margin-top: 20px;
        margin-left: 10px;
         width: 100px;
         height: 400px;
    }
    .ThirdRight{
        width: 200px;
        height: 200px;
        background-color: red;
    }
    .thirdPageRight{
        width: 1000px;
        height: 600px;
        background-color: aquamarine;
    }
    .thirdPageRight img{
        width: 100%;
        height: 100%;
    }

}
@media screen and (max-width: 1000px) {
    #thirdPage{
        height: 500px;
    }
    .xian{
        border-left: 2px solid white;
         width: 100px;
         margin-top: 50px;
         height: 300px;
    }
    .shuzhi{
        margin-top: 50px;
        width: 20px;
        height: 300px;
        text-align: center;
        font-size: 20px;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
    .thirdPageRight{
        width: 800px;
        height: 450px;
        background-color: rgb(31, 21, 86);
        .thirdPageRight img{
        width: 100%;
        height: 100%;
    }
    }
    .thirdPageRight img{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 700px) {
    #thirdPage{
        height: 420px;
    }
    .xian{
        border-left: 2px solid white;
         width: 70px;
         margin-top: 40px;
         height: 250px;
    }
    .thirdPageRight{
        width: 800px;
        height: 400px;
        background-color: rgb(207, 168, 25);
    }
    .thirdPageRight img{
        width: 100%;
        height: 100%;
    }
    
    .shuzhi{
        margin-top: 40px;
        width: 20px;
        height: 250px;
        text-align: center;
        font-size: 20px;
        writing-mode: vertical-lr;
        text-orientation: upright;
       
    }
    .thirdPageRight{
        width: 500px;
        height: 400px;
        background-color: rgb(53, 159, 18);
    }
    .thirdPageRight img{
        width: 100%;
        height: 100%;
    }
    
}
@media screen and (max-width: 600px) {
    #thirdPage{
        height: 400px;
    }
    .xian{
        border-left: 2px solid white;
         width: 50px;
         margin-top: 20px;
         height: 250px;
    }
    .shuzhi{
        margin-top: 20px;
        width: 20px;
        height: 250px;
       
    }
    .thirdPageRight{
        width: 400px;
        height: 280px;
        background-color: rgb(21, 147, 196);
    }
    .thirdPageRight img{
        width: 100%;
        height: 100%;
    }

}
@media screen and (max-width: 500px) {
    #thirdPage{
        height: 300px;
    }
    .xian{
        border-left: 2px solid white;
         width: 50px;
         margin-top: 20px;
         height: 200px;
    }
   
    .shuzhi{
        margin-top: 20px;
        width: 20px;
        height: 200px;
        text-align: center;
        font-size: 20px;
        writing-mode: vertical-lr;
        text-orientation: upright;
       
    }
    .thirdPageRight{
        width: 400px;
        height: 220px;
        background-color: rgb(141, 21, 196);
    }
    .thirdPageRight img{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 300px) {
    #thirdPage{
        height: 250px;
    }
    
}